{% extends "base.html.jinja" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Admin - Payment{% endblock %}

{% block page_content %}
<h1>Payment Table</h1>
<div class="row">
  <div class="col-lg-3 text-start my-3">
    <a class="btn btn-primary" href="{{ url_for('admin.create_payment_get')}}" role="button"><i class="bi bi-plus"></i> Create</a>
  </div>
</div>
{# Payment Table #}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Discount</th>
        <th scope="col">Student</th>
        <th scope="col">Cycle</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr>
        <td>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill text-center px-1">
              {{ render_form(delete_form, action=url_for('admin.delete_payment', payment_id=payment_id)) }}
            </li>
          </ul>
        </td>
        <td>{{ payment.id }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.discount if payment.discount else '' }}</td>
        <td>{{ payment.student }}</td>
        <td>{{ payment.cycle }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
