{% extends "base.html.jinja" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Admin - Cycle{% endblock %}

{% block page_content %}
<h1>Cycle Table</h1>
{# Create Cycle #}
<div class="row">
  <div class="col-lg-3 text-start my-3">
    <a class="btn btn-primary" href="{{ url_for('admin.create_cycle_get')}}" role="button"><i class="bi bi-plus"></i> Create</a>
  </div>
</div>
{# Cycle Table #}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Month</th>
        <th scope="col">Year</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
      </tr>
    </thead>
    <tbody>
      {% for cycle in cycles %}
      <tr>
        <td>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill text-center px-1">
              {{ render_form(delete_form, action=url_for('admin.delete_cycle', cycle_id=cycle_id)) }}
            </li>
          </ul>
        </td>
        <td>{{ cycle.id }}</td>
        <td>{{ cycle.month.value }}</td>
        <td>{{ cycle.year }}</td>
        <td>{{ cycle.start_date }}</td>
        <td>{{ cycle.end_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
