{% extends "base.html.jinja" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Admin - Edit Representative{% endblock %}

{% block page_content %}
<h3>Edit Representative</h3>
<div class="row">
  <div class="col-lg-3">
    {{ render_form(form, action=url_for('admin.edit_representative_post, representative_id=representative.id')) }}
  </div>
</div>
{% endblock %}
