{% extends "base.html.jinja" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Admin - Representative{% endblock %}

{% block page_content %}
<h1>Representative Table</h1>
{# Create Representative #}
<div class="row">
  <div class="col-lg-3 text-start my-3">
    <a class="btn btn-primary" href="{{ url_for('admin.create_representative_get')}}" role="button"><i class="bi bi-plus"></i> Create</a>
  </div>
</div>
{# Representative Table #}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Identity Document</th>
        <th scope="col">First Name</th>
        <th scope="col">First Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for representative in representatives %}
      <tr>
        <td>
          <ul class="list-unstyled">
            <li>
              <a class="text-dark" href="{{ url_for('admin.edit_representative_get', representative_id=representative.id) }}"><i class="bi bi-pencil"></i></a>
            </li>
            <li class="list-group-item flex-fill text-center px-1">
              {{ render_form(delete_form, action=url_for('admin.delete_representative', representative_id=representative.id)) }}
            </li>
          </ul>
        </td>
        <td>{{ representative.id }}</td>
        <td>{{ representative.identity_document }}</td>
        <td>{{ representative.first_name }}</td>
        <td>{{ representative.first_surname }}</td>
        <td>{{ representative.email if representative.email else '' }}</td>
        <td>{{ representative.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
