{% extends "base.html.jinja" %}

{% block title %}Admin - Student{% endblock %}

{% block page_content %}
<h1>Student Table</h1>
{# Create Student #}
<div class="row">
  <div class="col-lg-3 text-start my-3">
    <a class="btn btn-primary" href="{{ url_for('admin.create_student_get')}}" role="button"><i class="bi bi-plus"></i> Create</a>
  </div>
</div>
{# Student Table #}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Identity Document</th>
        <th scope="col">First Name</th>
        <th scope="col">First Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
              <a class="text-dark" href="{{ url_for('admin.student_view', student_id=student.id) }}"><i class="bi bi-eye"></i></a>
            </li>
            <li class="list-group-item">
              <a class="text-dark" href="{{ url_for('admin.edit_student_get', student_id=student.id) }}"><i class="bi bi-pencil"></i></a>
            </li>
          </ul>
        </td>
        <td>{{ student.id }}</td>
        <td>{{ student.identity_document }}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.first_surname }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone_number if student.phone_number else '' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
