{% extends "base.html.jinja" %}

{% block title %}Internal Server Error{% endblock %}

{% block page_content %}
  <h1>500</h1>
  <h2><span class="badge bg-secondary text-bg-secondary">Error :(</span></h2>
  <p>It's always time for a coffee break!</p>
  <p>We should be back by the time you finish your coffee.</p>
{% endblock %}
